.title {
	text-align: center;
	font-size: 24px;
	color: #fff;
	margin-top: 150px;
}
.product-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__content {
		//max-width: 1000px;
		background-color: rgb(146, 3, 3);
		border: 1px solid #fff;
		padding: 40px;
		width: fit-content;
		display: flex;
		column-gap: 50px;
	}
	&__img {
		max-width: 250px;
		max-height: 400px;
	}
	&__name {
		font-size: 32px;
		color: #fff;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__text {
		max-width: 400px;
	}
	&__tagline {
		color: #fff;
		margin-bottom: 40px;
		font-size: 21px;
	}
	&__item {
		color: #fff;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
	&__desc {
		font-size: 14px;
		margin-bottom: 15px;
		color: #cfcfcf;
		margin-bottom: 65px;
	}
	&__btn {
		padding: 15px;
		background-color: rgb(0, 0, 0);
		display: block;
		width: 140px;
		text-transform: uppercase;
		color: #fff;
		margin-top: auto;
		text-align: center;
		border: 1px solid rgb(255, 255, 255);
		margin-top: 60px;
		margin-left: auto;
		transition: 0.6s;
		&:hover {
			background-color: rgb(104, 104, 104);
		}
	}
}
