.btn {
	color: rgb(56, 56, 56);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 0.5px;
	text-align: left;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background: rgb(255, 255, 255);
	padding: 16px;
	min-width: 220px;
	text-align: center;
	display: block;
}
